body, html{
	padding: 0px;
	margin: 0px;
}

.wrapper{
	width: 800px;
	margin: auto;
}

.block{
	padding: 5px 10px 5px 10px;
	margin: 5px;
	background-color: Gainsboro;
}

.sidebar,
.content{
	float: left;
}

.sidebar{
	width: 170px;
}

.content{
	width: 570px;
}

.spaceholder{
	height: 1200px;
}